<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Insert title here</title>
<link th:href="@{webjars/bootstrap/4.1.0/css/bootstrap.min.css}" rel="stylesheet"/>



<!--<script src="http://code.jquery.com/jquery-3.1.1.js"></script>  -->

<!--<script src="webjars/jquery/3.1.1/jquery.min.js"></script>  -->

<script src="js/jquery-3.1.1.js"></script>
<script src="js/jquery.dotdotdot.js"></script>	

</head>
<body>

<div class="container">
        <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #b0f9f7;">
             <H2>UACM BLOG</H2>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   
             <div class="collapse navbar-collapse" id= "navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
               
                  <li class="nav-item active">
                   <form th:action="@{/home}" method="post" enctype="multipart/form-data">
                     <button class="btn btn-info btn-lg" type="submit">Inicio</button>
        		    </form>
                 </li>&nbsp;&nbsp;&nbsp;&nbsp;
                 <li class="nav-item active">
                   <!--<a class="nav-link" th:href="@{/autores}">Autores <span class="sr-only">(current)</span></a>  -->
                   <form th:action="@{/autores}" method="post" enctype="multipart/form-data">
                     <button class="btn btn-info btn-lg" type="submit">Autores</button>
        		   </form>
                 </li>&nbsp;&nbsp;&nbsp;&nbsp;
                 <li th:if="${session.userLoggenIn}" class="nav-item active">
                   <form th:action="@{/post}" method="post" enctype="multipart/form-data">
                     <button class="btn btn-info btn-lg" type="submit">Escribir un post</button>
        		    </form>
                 </li>&nbsp;&nbsp;&nbsp;&nbsp;
                 <li  th:if="${session.userLoggenIn}" class="nav-item active">
        		   <form th:action="@{/logout}" method="post" enctype="multipart/form-data">
                     <button class="btn btn-info btn-lg" type="submit">Log out</button>
        		   </form>
                 </li>&nbsp;&nbsp;&nbsp;&nbsp;
                 <li  th:unless="${session.userLoggenIn}" class="nav-item active">
                   <form th:action="@{/login}" method="post" enctype="multipart/form-data">
                     <button class="btn btn-info btn-lg" type="submit">Login</button>
        		   </form>
                 </li>&nbsp;&nbsp;&nbsp;&nbsp;
                 
                 <li>
                  <div th:if="${session.userLoggenIn}">
						<h1 th:text="${session.username}"></h1>
					</div>
                </li>
               </ul>
             </div>
           </nav>      
           </div>
                      
         
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               
       <div class="container">
       
          <table th:align="center" class="table" margin-top=700px;>
			<tr>
			    <td>Autor:</td>
				<td th:text="${post.usuario.nombre}"></td>
			</tr>
			<tr>
			    <td>Título:</td>
				<td th:text="${post.titulo}"></td>
			</tr>
			<tr>
			    <td>Contenido:</td>
				<td><p th:utext="${post.contenido_post}"></p></td>
			</tr>
			</table>
		   <span class="label label-info" th:text="${post.fecha_post}"></span>
		   
		   <form th:action="@{/comentar}" method="post" enctype="multipart/form-data" >
			<input  th:if="${session.userLoggenIn}" type="text" placeholder="Introduzca su comentario..." name="contenido" id="contenido" class="form-control" /><br/>
			<input class="form-control" type="hidden"  th:value="${post.id}" id="idpost" name="idpost"/>
			<input  th:if="${session.userLoggenIn}" type="submit"  class="btn btn-primary btn-lg" value="Enviar Comentario"/>
			<h5 th:unless="${session.userLoggenIn}"> Para poder comentar se necesita registrar</h5>
			<br/><br/>
			<table th:align="center" class="table" th:each="comentario: ${comentarios}">
			<tr>
			    <td>Usuario que comentó:</td>
				<td th:text ="${comentario.usuario.nombre}"></td>
				<td>Comentario:</td>
				<td th:text ="${comentario.contenidoComnetario}"></td>
				
			</tr>
			</table>
		</form><br/><br/>
      </div>

</body>
</html>